.btn {
  display: block;
}

#westcoastmap {
  max-height: 540px;
  width: auto;
  float: left;
  margin-left: 3em;
  margin-top: 3em;
}

@media (max-width: 975px) {
  #westcoastmap {
    display: none;
  }
}

img {
  max-height: 200px;
  width: auto;
  margin: auto;
}

#under-18 {
  display: none;
}
#vacation-pct {
  display: none;
}

#vacation-bigsur {
  display: none;
}

#vacation-palmsprings {
  display: none;
}

#vacation-portland {
  display: none;
}

#vacation-losangeles {
  display: none;
}
