.btn {
  display: block;
}

.container-fluid {
  background-color: #e0ebeb;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
  }

.clickable:hover {
  text-decoration: underline;
  }

#vacation-options {
  padding: 3em;
}

img {
  max-width: 250px;
  height: auto;
  margin: auto;
}

#under-18 {
  display: none;
}
#vacation-pct {
  display: none;
}

#vacation-bigsur {
  display: none;
}

#vacation-palmsprings {
  display: none;
}

#vacation-portland {
  display: none;
}

#vacation-losangeles {
  display: none;
}

#vacation-sanfrancisco {
  display: none;
}

#westcoastmap {
  max-height: 540px;
  width: auto;
  float: left;
  margin-left: 30%;
  margin-top: 2em;
}

@media (max-width: 975px) {
  #westcoastmap {
    display: none;
  }
}
